
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

      <%= render "books/list", user: @user, new_book: @new_book %>

    </div>




      <div class="col-md-8 offset-md-1">

         <h2>Books</h2>

      <div class="table">
        <table>
          <tr>
            <td></td>
            <td></td>
            <td>Title</td>
            <td></td>
            <td>Opinion</td>
          </tr>
        </table>
      </div>

       <div class="tabele">

        <% @books.each do |book| %>

          <table class="table table-hover table-inverse">

            <tr>

            <td>

            <%= link_to user_path(book.user) do %>
              <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "minino-image-icon.jpg" %>
            <% end %>

            </td>


              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>

            </tr>
          </table>


        <% end %>

      </div>









    </div>

  </div>
